// colors
$darkGreen: #43c2d5;
$green: #00BAFF;
$lightGreen: #5189dc;
$veryLightGreen: #e7f9ff;
$darkGrey: #828282;
$white: #ffffff;
$lightGrey: #f2f2f2;

// font family
$fontFamily: "Andada Pro", serif;
$lightFont: 600;
$heavyFont: 800;

// fonts
$logoFont: calc(1.25 * 31.42px);
